body {
  background-image: url(../RipenWaves2.png) !important;
}
.cd__main{
   background-image: url(../RipenWaves2.png) !important;
   height: 100vh;
   width: 100vh;
   position: absolute;
   min-height: 720px;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #48000a;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
}
.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: #ff5e00;
  padding: 8px 25px;
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con .action-link-wrap a:hover {
  background: #760033;
  color: #fff;
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  -webkit-animation: float 1s infinite ease-in-out alternate;
          animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s; 
}
#Polygon-3 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s; 
}
#Polygon-4 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s; 
}
#Polygon-5 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s; 
}

@-webkit-keyframes float {
	100% {
    transform: translateY(20px);
  }
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }
}
